/* Header.css */

.wedding-header {
  width: 100%;
  max-width: auto;
  margin: 0 auto;
  padding: 40px;
  background-color: #fffdf9;
  border-radius: 5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  border: 2px solid #d4af37;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Để đảm bảo các hình ảnh và nội dung có thể xuống dòng khi thu nhỏ */
}

.image-container {
  flex: 0 0 220px;
  margin: 10px;
}

.bride-img, .groom-img {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  object-fit: cover;
  border: 5px solid #e0e0e0;
  transition: transform 0.3s ease;
}

.bride-img:hover, .groom-img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.wedding-announcement {
  margin: 0 50px;
  text-align: center;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 10px;
  max-width: 100%;
}

/* Responsive Design Adjustments */
@media only screen and (max-width: 768px) {
  .image-container {
    flex: 0 0 150px;
  }

  .bride-img, .groom-img {
    width: 150px;
    height: 150px;
  }

  .wedding-announcement {
    margin: 20px 0;
    padding: 15px;
  }

  .wedding-announcement h1 {
    font-size: 2em;
  }

  .wedding-announcement h2 {
    font-size: 1.5em;
  }

  .wedding-announcement p {
    font-size: 1em;
  }
}

@media only screen and (max-width: 480px) {
  .image-container {
    flex: 0 0 100px;
  }

  .bride-img, .groom-img {
    width: 100px;
    height: 100px;
  }

  .wedding-announcement h1 {
    font-size: 1.5em;
  }

  .wedding-announcement h2 {
    font-size: 1.2em;
  }

  .wedding-announcement p {
    font-size: 0.9em;
  }
}
