/* Header.css */

.wedding-header {
  width: 100%;
  max-width: 100%; /* Thay đổi để đảm bảo nó chiếm toàn bộ chiều rộng */
  margin: 0 auto;
  padding: 40px;
  background-color: #fffdf9;
  border-radius: 5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  border: 2px solid #d4af37;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Để đảm bảo các hình ảnh và nội dung có thể xuống dòng khi thu nhỏ */
}

.image-container {
  flex: 0 0 220px;
  margin: 10px;
}

.bride-img, .groom-img {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  object-fit: cover;
  border: 5px solid #e0e0e0;
  transition: transform 0.3s ease;
}

.bride-img:hover, .groom-img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.wedding-announcement {
  margin: 0 50px;
  text-align: center;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 10px;
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  .header-content {
    flex-direction: column; /* Sắp xếp theo cột để phù hợp với màn hình nhỏ */
  }

  .image-container {
    flex: 0 0 150px; /* Giảm kích thước hình ảnh */
  }

  .bride-img, .groom-img {
    width: 150px;
    height: 150px;
  }

  .wedding-announcement {
    margin: 20px 10px;
    padding: 15px;
    font-size: 0.9em; /* Giảm font-size để phù hợp hơn với màn hình nhỏ */
  }
}

@media only screen and (max-width: 480px) {
  .image-container {
    flex: 0 0 120px; /* Giảm kích thước hình ảnh cho màn hình nhỏ hơn */
  }

  .bride-img, .groom-img {
    width: 120px;
    height: 120px;
  }

  .wedding-announcement {
    margin: 15px 5px; /* Điều chỉnh lại margin và padding */
    padding: 10px;
    font-size: 0.8em; /* Giảm font-size thêm cho màn hình nhỏ */
  }

  .wedding-announcement h1 {
    font-size: 1.4em; /* Điều chỉnh kích thước chữ */
  }

  .wedding-announcement h2,
  .wedding-announcement h4 {
    font-size: 1.2em;
  }

  .wedding-announcement h3 {
    font-size: 1em;
  }

  .wedding-announcement h5 {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 320px) {
  .header-content {
    padding: 20px 5px;
  }

  .image-container {
    flex: 0 0 100px;
  }

  .bride-img, .groom-img {
    width: 100px;
    height: 100px;
  }

  .wedding-announcement {
    padding: 8px;
    font-size: 0.7em;
  }

  .wedding-announcement h1 {
    font-size: 1.2em;
  }

  .wedding-announcement h2,
  .wedding-announcement h4 {
    font-size: 1em;
  }

  .wedding-announcement h3 {
    font-size: 0.9em;
  }

  .wedding-announcement h5 {
    font-size: 0.8em;
  }
}